apiVersion: v1
kind: Pod
metadata:
  name: mock-sensor-pod
spec:
  volumes:
    - name: "mock-sensor-node-data"
      hostPath:
        path: "/var/lib/mock-sensor-node"
        type: DirectoryOrCreate
  containers:
    - image: vismay3003/mock-sensor-node:v1
      name: mock-sensor-node
      imagePullPolicy: Always
      volumeMounts:
        - mountPath: "/data"
          name: "mock-sensor-node-data"
      livenessProbe:
        exec:
          command:
            - /bin/sh
            - -c 
            - "find /data/edge_telemetry.db -mmin 1 | grep ."
        initialDelaySeconds: 5
        periodSeconds: 60